*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: yekan;
    src: url('../fonts/B Yekan.ttf');
}

.bg{
    background-color: #151f20;
}
body{
    font-family: yekan, sans-serif;
}

header{
    height: 100vh;
    background: linear-gradient(rgba(41, 14, 14, 0.4), rgba(16, 12, 39, 0.8)), url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titleHeader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-gym{
    animation-name: textGym;
    animation-duration: 2s;
}

.pain-gain{
    /* font-size: 1rem; */
    animation-name: painGain;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
@keyframes textGym {
    0%{
        opacity: 0;
        transform: translateX(-120px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes painGain {
    0%{
        opacity: 0;
        transform: translateX(-120px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.ul-nav, #search{
    direction: rtl;
}

#navbarSupportedContent a{
    font-size: 0.9rem;
}

#navbarSupportedContent li{
    transition: background-color 0.3s;
}

.text-success{
    color: green !important;
}

.btn-outline-success{
    border: 2px solid green;
    color: green;
}

.active2,
.btn-outline-success:hover,
.prgm:hover,
#navbarSupportedContent li:hover{
    background: green;
}

.prgm{
    position: relative;
    z-index: 10;
}

.prgm:hover{
    color: white;
    font-size: 5rem;
}

.nav-menu{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(46, 46, 46, 0.6));
    padding: 20px 0;
    transition: all 0.8s;
}

.sticky-menu{
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; */
    padding: 10px 0;
}

.underline{
    width: 200px;
    border: 3px solid #fff;
    border-radius: 0.5rem;
    margin: auto;
}

.underline2{
    border: 3px solid #000;
}

.lh{
    line-height: 2rem;
}

.boxes{
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.8);
}

.boxes > img{
    transition: all 0.3s;
}

.food{
    width: 60%;
    height: 25%;
    background: rgba(37, 119, 212, 0.5);
    position: absolute;
    border-radius: 0 8px 8px 0;
    top: 60%;
    left: -350px;
    cursor: pointer;
    transition: all 0.3s;
}

.boxes:hover .food{
    left: 0;
}

.boxes:hover img{
    transform: scale(1.3);
}

.food:hover{
    background: rgba(37, 119, 212, 1);;
}

#list li{
    cursor: pointer;
    transition: all 0.3s;
}

#list li:hover{
    color: green;
    font-weight: bold;
}

#list li:hover span{
    color: black;
    font-weight: normal;
}
 
.active3{
    color: green;
}

.padding{
    padding: 2rem 4rem;
}

.img-radius{
    border-radius: 1rem;
}

/* #carouselId{
    width: 90%;
    overflow: hidden;
    border-radius: 50%;
} */

.img-slider{
    width: 80%;
    border-radius: 50%;
    overflow: hidden;
}

.crsl-img{
    width: 100%;
    height: 100%;
}

.carousel-indicators{
    margin-top: 40px;
}

.card-bg{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../images/membership.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.8);
    border: 0;
    border-radius: 0.5rem;
    width: 30%;
}

.plan{
    width: 60%;
    margin: auto;
    border-bottom: 1px solid #757575;
}

button.btnEffect{
    background: blue;
    box-shadow: 0 2px 4px skyblue;
    transition: all 0.3s;
}

button.btnEffect:focus{
    box-shadow: none;
}

button.btnEffect:hover{
    background: skyblue;
    transform: translateY(-3px);
}

.moveRight{
    animation-name: moveRight;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}
.moveLeft{
    animation-name: moveLeft;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}
.moveBottom{
    animation-name: moveBottom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

@keyframes moveRight{
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveLeft{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveBottom{
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.contact{
    direction: rtl;
    background: linear-gradient(90deg, rgba(0,0,0,0.1),rgba(0,0,0,0.9)), url('../images/contact2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frm{
    /* width: 90%; */
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #ccc;
    background-color: transparent !important;
    padding: 0.5rem;
    color: white;
    transition: all 0.5s;
}

.frm:focus{
    color: white;
    box-shadow: none;
    border-bottom: 2px solid orangered;
}

.dir{
    direction: rtl;
}

.link-footer{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    transition: all 0.3s;
}

.link-footer:hover{
    color: greenyellow;
}

.title-footer{
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
}

.w80:focus, .btn-footer:focus{
    box-shadow: none;
}

.btn-footer{
    margin-right: 10px;
}

.quality-text{
    animation-name: qualityText;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
}

.quality-img{
    animation-name: qualityImg;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
}

@keyframes qualityText{
    0%{
        opacity: 0;
        transform: translateX(150px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes qualityImg{
    0%{
        opacity: 0;
        transform: translateX(-150px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.btn-move-top{
    display: none;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 50%;
    border: none;
    width: 5%;
    animation: btn 1s linear;
}

@keyframes btn{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}

.btn-move-top:focus{
    box-shadow: none;
}