* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: IRAN;
  direction: rtl !important;
  overflow-x: hidden;
}

@font-face {
  font-family: IRAN;
  src: url("../fonts/ttf/IRANSansWeb_Medium.ttf");
}

/* ------------------ header top -------------------------- */
/* ------------- nenu right ----------------- */
.header{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('../images/Rectangle 73.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 992px){
  .header{background-size: cover; background-position: top right;}
}

.header .header-top{
  /* padding: 2rem 3rem; */
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header-top ul.menu{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-self: center;
}
  
.header-top li{
  display: flex;
  list-style: none;
  width: 9rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
.header-top li:last-child{
  width: 8rem !important;
}
.header-top li a{
  text-decoration: none;
  display: block;
  color: rgb(18, 20, 68);
  font-size: 1.2rem;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.header-top li a:hover{
  color: rgb(240, 90, 48);
}
.header-top li a.active{color: rgb(240, 90, 48);}

/* ------------------- menu left -------------------- */
.logo-box{
  padding: 2rem 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.logo-box img{width: 6rem;}
/* -------------------- header bottom ------------------------- */

.box-iconTop{
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 100;
  background: rgba(79, 74, 101, 0.7);
  padding: 0.7rem;
  border-radius: 50%;
  border: 8px solid rgba(151, 151, 151, 0.6);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  animation: fade 0.6s;
  -webkit-animation: fade 0.6s;
}

@keyframes fade {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.box-iconTop img{width: 1.5rem;}
.box-social{
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  z-index: 100;
  background: rgba(18, 20, 68, 0.7);
  border: 1px solid #35305e;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.box-social img{
  width: 1.7rem;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.box-social img:hover{
  color: rgb(240, 90, 48);
}



/* --------------------------------- content --------------------------- */

/* .content{
  max-width: 100%;
} */
.content .img-text{
  position: relative;
  overflow: hidden;
}

.content .img-text img{
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.content .img-text img:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.content .img-text h5{
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;
  background-color: rgba(241, 90, 47, 0.6);
}


.box-rectangle{
  width: 100%;
  /* height: 75vh; */
  position: relative;
  left: -15px;
}
.box-rectangle .img2{
  /* position: absolute;
  top: 0;
  right: 0;
  z-index: 10; */
  margin-top: -35rem;
}


.aboutCompany{
  width: 100%;
  position: absolute;
  top: 7rem;
  right: 0;
  z-index: 20;
}

.about{
  direction: rtl;
}
.about h3, a.orange, .box-quick-access h5, .box-logo-footer h5{overflow: hidden;}
.lh-3{
  line-height: 2;
}
.lh-2rem{
  line-height: 2rem;
}

.text-dfdfdf{color: #dfdfdf;}
a.orange{color: rgba(241, 90, 47);display: inline-block;}
a.orange:hover{text-decoration: none;}

/* --------------------------------- footer ------------------------------------- */

footer{
  width: 100%;
  padding-top: 7rem;
  position: relative;
  overflow-x: hidden;
}
footer .row{
  background-color: rgb(20, 21, 67);
}
footer p.footer-text{
  background-color: rgba(241, 90, 47);
  font-size: 0.8rem;
  position: relative;
  top: -3rem;
}
footer .box-logo-footer{
  position: relative;
  right: 1rem;
  top: 1rem;
}
footer .row{padding-top: 1.5rem;}


.address ul li, ul.list li{
  font-size: 0.85rem;
}
.address ul li::marker{
  color: rgba(241, 90, 47);
  font-size: 1rem;
}
.quick-access{
  background: rgba(241, 90, 47);
}
.quick-access ul li::marker{
  color: rgb(20, 21, 67);
  font-size: 1rem;
}
.quick-access ul{
  margin-right: 1rem;
}


/* ---------------------------------------------- end footer --------------------------------------------- */




/* -------- responsive menu2 -------- */
.bars, .cross{
  border: 3px dashed rgba(241, 90, 47, 0.5);
  background: rgba(20, 21, 67, 0.5);
  cursor: pointer;
  width: fit-content;
  margin-right: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: turn 0.5s;
  -webkit-animation: turn 0.5s;
}
.bars{
  padding: 0.8rem 1.1rem;
  display: none;
}
@keyframes turn{
  0%{
    opacity: 0;
    transform:scale(0.8) ;
    -webkit-transform:scale(0.8) ;
    -moz-transform:scale(0.8) ;
    -ms-transform:scale(0.8) ;
    -o-transform:scale(0.8) ;
}
  100%{
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
}
.cross{
  padding: 0.3rem 1rem;
  display: none;
}

.bars svg, .cross svg{
  margin: auto;
  vertical-align: middle;
}
.menu2{
  display: none;
  background-color: rgba(245, 222, 179, 0.7);
  height: 53vh;
  width: 50vw;
  position: relative;
  top: -2rem;
  border-radius: 0.5rem 0 0 0.5rem;
  -webkit-border-radius: 0.5rem 0 0 0.5rem;
  -moz-border-radius: 0.5rem 0 0 0.5rem;
  -ms-border-radius: 0.5rem 0 0 0.5rem;
  -o-border-radius: 0.5rem 0 0 0.5rem;
  animation: menu 0.2s linear backwards;
  -webkit-animation: menu 0.3s ease;
}
@keyframes menu {
  0%{
    margin-right: -200px;
  }
  100%{
    margin-right: 0;
  }
}
.menu2 li{text-align: right;border-bottom: 1px solid rgb(20, 21, 67); padding-bottom: 1rem;}
.menu2 li a{
  color: rgb(20, 21, 67);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.menu2 li a:hover{color: rgba(241, 90, 47);}
.menu2 img{
  width: 2rem;
}
.menu2 .img3, .menu2 .img4{
  width: 1.5rem;
}


/* -------- end responsive menu2 -------- */

@media screen and (max-width: 992px){
  .menu-box ul.menu{
    display: none !important;
  }
  .bars{
    display: block;
  }
}